body {
    font-family: "Lato", sans-serif;

}

h1 {
    color: #c71e1e;
    font-size: 45px;
    font-family: "Boldonse", system-ui;
    
}

h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

ul, ol {
    list-style: none;
}

.container-drone{
    border: 2px, solid, #c71e1e;
    width: 400px;
    min-height: 300px;
    /*margin: 50px 100px 150px 250px;*/
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.container-gray{background-color: #474141;}
.container-red{background-color: #c71e1e;}
.container-black{background-color: black;}

.container-drone img {
    width: 80%;
    border-radius: 8px 80px 8px 80px;
}

a {
    color: #ba2c2c;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    transition: all 0.7s;
}

a:hover {
    color: #474141;
    text-decoration: underline;
}
.gradient {
    background-image: linear-gradient(
      45deg,
      hsl(291deg 100% 20%) 0%,
      hsl(295deg 100% 21%) 8%,
      hsl(299deg 100% 22%) 17%,
      hsl(303deg 100% 25%) 25%,
      hsl(306deg 100% 28%) 33%,
      hsl(309deg 100% 30%) 42%,
      hsl(312deg 100% 33%) 50%,
      hsl(314deg 100% 36%) 58%,
      hsl(316deg 100% 39%) 67%,
      hsl(318deg 100% 41%) 75%,
      hsl(320deg 100% 44%) 83%,
      hsl(321deg 100% 47%) 92%,
      hsl(323deg 100% 50%) 100%
    );
  }